In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('data\\glass_data.csv')

In [3]:
data.tail()

      Id       RI     Na   Mg    Al     Si     K    Ca    Ba   Fe  Type
209  210  1.51623  14.14  0.0  2.88  72.61  0.08  9.18  1.06  0.0     7
210  211  1.51685  14.92  0.0  1.99  73.06  0.00  8.40  1.59  0.0     7
211  212  1.52065  14.36  0.0  2.02  73.42  0.00  8.44  1.64  0.0     7
212  213  1.51651  14.38  0.0  1.94  73.61  0.00  8.48  1.57  0.0     7
213  214  1.51711  14.23  0.0  2.08  73.36  0.00  8.62  1.67  0.0     7

In [4]:
x = data.drop(['Id', 'Type'], axis=1)
y = data['Type']

In [5]:
from sklearn.preprocessing import StandardScaler
scale = StandardScaler()

x_transform = scale.fit_transform(x)

x = x_transform

In [6]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, train_size=0.8, random_state=42)

In [7]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC
from sklearn.naive_bayes import GaussianNB
from sklearn.linear_model import LogisticRegression
from sklearn.linear_model import SGDClassifier
from sklearn.metrics import accuracy_score

In [8]:
models = [RandomForestClassifier, 
          DecisionTreeClassifier, 
          KNeighborsClassifier, 
          SVC, 
          GaussianNB, 
          LogisticRegression, 
          SGDClassifier]

In [9]:
names = ['RandomForestClassifier', 
          'DecisionTreeClassifier', 
          'KNeighborsClassifier', 
          'SVC', 
          'GaussianNB', 
          'LogisticRegression', 
          'SGDClassifier']

In [10]:
scores = []

for m in models:
    model = m()
    model.fit(x_train, y_train)
    y_pred = model.predict(x_test)
    score = accuracy_score(y_test, y_pred)
    scores.append(score)
    
result = pd.DataFrame({'model': names, 'score': scores})

In [12]:
print(result)

                    model     score
0  RandomForestClassifier  0.883721
1  DecisionTreeClassifier  0.790698
2    KNeighborsClassifier  0.697674
3                     SVC  0.720930
4              GaussianNB  0.558140
5      LogisticRegression  0.720930
6           SGDClassifier  0.418605