# 1. getting your data ready to convert into number

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
data_mobil = pd.read_csv('data\\car-sales-extended.csv')
data_mobil.head()

     Make Colour  Odometer (KM)  Doors  Price
0   Honda  White          35431      4  15323
1     BMW   Blue         192714      5  19943
2   Honda  White          84714      4  28343
3  Toyota  White         154365      4  13434
4  Nissan   Blue         181577      3  14043

In [3]:
data_mobil.dtypes, print (len(data_mobil))

1000

(Make             object
 Colour           object
 Odometer (KM)     int64
 Doors             int64
 Price             int64
 dtype: object,
 None)

In [4]:
X_pertama = data_mobil.drop('Price', axis=1)
y_pertama = data_mobil['Price']

In [5]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

categorical_feature = ['Make',
                       'Colour',
                       'Doors']

one_hot = OneHotEncoder()

transformer = ColumnTransformer([('one_hot',
                                  one_hot,
                                  categorical_feature)],
                               remainder='passthrough')

transformed_X_pertama = transformer.fit_transform(X_pertama)

In [6]:
from sklearn.model_selection import train_test_split

np.random.seed(42)

X_train, X_test, y_train, y_test = train_test_split(transformed_X_pertama,
                                                    y_pertama,
                                                    train_size=0.8)

In [7]:
from sklearn.ensemble import RandomForestRegressor

model = RandomForestRegressor()
model.fit(X_train, y_train)
model.score(X_test, y_test)

0.3235867221569877

# 2. getting your data ready with handling missing value with pandas

In [8]:
car_missing_data = pd.read_csv('data\\car-sales-extended-missing-data.csv')
car_missing_data.head()

     Make Colour  Odometer (KM)  Doors    Price
0   Honda  White        35431.0    4.0  15323.0
1     BMW   Blue       192714.0    5.0  19943.0
2   Honda  White        84714.0    4.0  28343.0
3  Toyota  White       154365.0    4.0  13434.0
4  Nissan   Blue       181577.0    3.0  14043.0

In [9]:
car_missing_data.isna().sum()

Make             49
Colour           50
Odometer (KM)    50
Doors            50
Price            50
dtype: int64

In [10]:
car_missing_data['Make'].fillna('missing', inplace=True)
car_missing_data['Colour'].fillna('missing', inplace=True)
car_missing_data['Doors'].fillna(4, inplace=True)
car_missing_data['Odometer (KM)'].fillna(car_missing_data['Odometer (KM)'].mean(), inplace=True)

In [11]:
car_missing_data.isna().sum()

Make              0
Colour            0
Odometer (KM)     0
Doors             0
Price            50
dtype: int64

In [12]:
car_missing_data = car_missing_data.dropna()
car_missing_data.isna().sum(), len(car_missing_data)

(Make             0
 Colour           0
 Odometer (KM)    0
 Doors            0
 Price            0
 dtype: int64,
 950)

In [13]:
X_kedua = car_missing_data.drop('Price', axis=1)
y_kedua = car_missing_data['Price']

In [14]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

categorical_feature = ['Make', 'Colour', 'Doors']

one_hot = OneHotEncoder()

transformer = ColumnTransformer([('one_hot', one_hot, categorical_feature)], remainder='passthrough')

transformed_X_kedua = transformer.fit_transform(X_kedua)
transformed_X_kedua

<950x15 sparse matrix of type '<class 'numpy.float64'>'
	with 3800 stored elements in Compressed Sparse Row format>

In [15]:
transformed_X_kedua.shape, y_kedua.shape

((950, 15), (950,))

In [16]:
X_train, X_test, y_train, y_test = train_test_split(transformed_X_kedua, y_kedua, train_size=0.8)

model = RandomForestRegressor()
model.fit(X_train, y_train)
model.score(X_test, y_test)

0.10372982918315199